modules = ["dotnet-7.0"]
run = "dotnet run"
[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "dotnet run"]

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 34067025

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd 'Lista 09/a)' && dotnet run"
